    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><a href="mailto:sanna.tiihonen@iki.fi">Yhteydenotto</a>. Tämä sivusto <a href="https://www.viestintavirasto.fi/kyberturvallisuus/palveluidenturvallinenkaytto/evasteet.html">käyttää evästeitä</a> käytön seurantaan. Voit estää evästeiden käytön selaimessasi tai <a href="https://tools.google.com/dlpage/gaoptout">estää Google Analytics -palvelun erikseen</a>.</p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-70459160-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
