    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Syötteet: <a href="https://sannatiihonen.github.io/feed.xml">RSS</a>, <a href="https://sannatiihonen.github.io/atom.xml">Atom</a>. <a href="mailto:sanna.tiihonen@iki.fi">Lähetä sähköpostia</a>, <a href="https://twitter.com/sannatiihonen">seuraa Twitterissä</a> tai katso <a href="https://www.linkedin.com/in/sannatiihonen">LinkedIn-profiili</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
